.demo__chatbot {
  background-color: #fff;
  border-radius: 5px;
  height: 500px;
  width: 320px;
  padding: 10px;
  margin-left: 50px;
}

.demo__chatbot {
  display: flex;
  flex-direction: column;
  .demo__header {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    .demo__buble__title {
      background-color: #3da5ce;
    }
    .demo__title {
      // background-color: #3da5ce;
      // color: #fff;
      // font-size: 18px;
      height: 42px;
      display: flex;
      border-top-left-radius: 9px;
      > span {
        padding: 5px 70px 13px 16px;
      }
    }
  }
  .demo__body {
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #3da5ce;
    background-color: #e8e7e7;
    .demo__body__chat {
      flex: 1;
    }
    > input {
    }
    .demo__body__input {
      background-color: #1074bb;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      > input {
        height: 27px;
        width: 96%;
        border: none;
        border-radius: 5px;
        outline: none;
        padding: 5px;
      }
    }
  }
}
