.form__theme {
  width: 500px;
}

.items {
  display: inline-block;
  width: min-content;
}

.item__color {
  border-radius: 5px !important;
  width: 50px !important;
  padding: 3px 4px !important;
}

.item__fontsize {
  border-radius: 5px !important;
  width: 72px !important;
  height: 28px !important;
}

.item__text {
  border-radius: 5px !important;
  width: 175px !important;
  height: 28px !important;
}

.form__bubleLabel {
  display: flex;
  margin: 0 !important;
  > div:last-child > div > div {
    display: flex;
    column-gap: 10px;
    > div {
      margin-bottom: 10px;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  > label {
    padding-left: 10px;
    width: 100px;
    font-size: 16px;
  }
  column-gap: 10px;
}

.themeSetting {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // align-items: center;
  row-gap: 20px;
}
