.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.container__left {
  display: flex;
  flex-direction: column;
}

.container__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background: var(--color-blue-5);
  > .footer {
    bottom: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    font-size: 18px;
  }
}

.body {
  // height: 300px !important;
  flex: 1;
}
